# WordPress
web/wp

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/WordPressBP*
web/app/uploads/*
!web/app/uploads/.gitkeep

# Vendor (Composer modules)
vendor/*
!vendor/.gitkeep

# Node modules
node_modules

# Bower modules
bower_modules

# Compiled CSS
web/app/themes/WordPressBP/assets/*.css

# Compiled JS
web/app/themes/WordPressBP/assets/*.js

# Compiled MAPS
web/app/themes/WordPressBP/assets/*.map

# Build dir
build
