// Typography
html { font: #{$default_font_size}px/#{$default_line_height} $default_font_family; }

body {
  color: $default_tx_color;
  background: $default_bg_color;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $content_link_color;
  &:focus,
  &:hover { color: $content_link_hover_color; }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

p, ul, ol, table, blockquote {
  margin: 0 0 #{$default_line_height}em;
  &:last-child { margin-bottom: 0; }
}

blockquote {
  font-size: 1.25em;
  font-style: italic;
  margin-left: 2em;
  padding-left: 2em;
  border-left: 5px solid;
}

.h1, h1,
.h2, h2,
.h3, h3 {
  margin: 1.5em 0;
  line-height: 1.2;
  font-weight: bold;
}
.h1, h1 { font-size: rem($font_h1); }
.h2, h2 { font-size: rem($font_h2); }
.h3, h3 { font-size: rem($font_h3); }

.f_s { font-size: rem($font_s); }
.f_m { font-size: rem($font_m); }
.f_l { font-size: rem($font_l); }

.f_inherit { font: inherit; }
.f_bold { font-weight: bold; }
.f_italic { font-style: italic; }
.f_normal {
  font-weight: normal;
  font-style: normal;
}

.t_left { text-align: left; }
.t_right { text-align: right; }
.t_center { text-align: center; }
.t_justify { text-align: justify; }
.t_wrap { white-space: normal; }
.t_nowrap { white-space: nowrap; }
.t_uppercase { text-transform: uppercase; }
.t_lowercase { text-transform: lowercase; }
.t_capitalize { text-transform: capitalize; }
.t_normal { text-transform: none; }

.c_inherit { color: inherit; }

// Smaller for mobile
@media (max-width: $breakpoint - 1) {
  html { font-size: #{$default_font_size - 2}px; }
  .h1, h1 { font-size: rem($font_h1 - 6, $default_font_size - 2); }
  .h2, h2 { font-size: rem($font_h2 - 5, $default_font_size - 2); }
  .h3, h3 { font-size: rem($font_h3 - 4, $default_font_size - 2); }
  .f_s { font-size: rem($font_s - 2,  $default_font_size - 2); }
  .f_m { font-size: rem($font_m - 3,  $default_font_size - 2); }
  .f_l { font-size: rem($font_l - 4,  $default_font_size - 2); }

  blockquote {
    margin-left: 1em;
    padding-left: 1em;
  }
}
