.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure {
  width: auto !important;
  max-width: 100%;
}

@include breakpoint(tablet) {
  .alignright { float: right; }
  .alignleft { float: left; }
}
