{% extends "base.twig" %}

{% block content %}
<article class="post post_404">
  <h1 class="post__title">{{ __('Oops! 404', 'WordPressBP') }}</h1>
  <p>{{ __('The page you’re trying to access doesn’t exist.', 'WordPressBP') }}</p>
</article>
{% endblock %}
