{% extends "base.twig" %}

{% block content %}
  {% if posts %}
    {% for post in posts %}
      {% include ['excerpt-'~post.post_type~'.twig', 'excerpt.twig'] %}
    {% endfor %}
  {% else %}
    <p>{{ i18n.no_content }}</p>
  {% endif %}
{% endblock %}
