// Colors
$color_text_default: #333;

$color_background_default: #fff;

$color_link_default:         #0057ae;
$color_link_default_hover:   #eb7331;
$color_link_default_visited: #6193cf;

// Font sizes (in pixels)
$font_size_base: 16;

$font_size_h1: 24;
$font_size_h2: 21;
$font_size_h3: 18;
