{% if pagination.pages is not empty %}
<div class="pagination">
{% for page in pagination.pages %}
  {% if page.link is defined and page.link %}
  <a href="{{ page.link }}" class="pagination__item pagination__item_active">{{ page.title }}</a>
  {% else %}
  <span class="pagination__item{{ page.current|default(false) ? ' pagination__item_current' : ' pagination__item_inactive' }}">{{ page.title }}</span>
  {% endif %}
{% endfor %}
</div>
{% endif %}
