// Alignment helpers
.pull-left { float: left; }
.pull-right { float: right; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

// Micro clearfix
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }

// Image replacement - Method 1 - use if box size independent of font-size
.ir { font: 0/0 a; text-shadow: none; color: transparent; }
// Image replacement - Method 2 - use if box size depends on font-size (EM units)
.ir2 { display: block; text-indent: -999em; overflow: hidden; }

// Hide element from screenreaders and browsers
.hidden { display: none !important; visibility: hidden; }

// Hide element visually, but have it available for screenreaders
.visuallyhidden {
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	position: absolute;
	clip: rect(0 0 0 0);
}

// Hide element visually and from screenreaders, but maintain layout
.invisible { visibility: hidden; }
