/*! WordPressBP default theme | MIT License | github.com/andrejcremoznik/WordPressBP/ */

/*
 * Theme variables
 * - create new themes by copying this file and editing its varibles
 */

/*
 * Layout
 */

// Responsive breakpoints (max-width)
$breakpoint-s: 767px;
$breakpoint-m: 992px;
$breakpoint-l: 1200px;

// Grid gutter width
$gutter-width: 30px;

// Public asset uri (use with asset() function)
$public-assets-uri: '/app/themes/WordPressBP/assets/default/';

/*
 * Typography
 */

// Font families
$default-font-family: Arial, Helvetica, sans-serif;

// Font sizes
$default-font-size: 16;    // absolute value
$default-line-height: 1.5; // relative value

$small-font-size: 12;      // absolute value
$large-font-size: 20;      // absolute value

$smaller-font-size: 80%;   // relative value
$larger-font-size: 120%;   // relative value

// Basic colors
$default-text-color: #333;
$default-background-color: #fff;

$content-link: #346994;
$content-link-hover: #128ad3;

/* =============== */

// Import theme core
@import "app/app";
