/*
 * Theme variables
 * - create new themes by copying this file and editing its varibles
 */

/*
 * Layout
 */

// Responsive breakpoints (max-width)
$breakpoint-s: 767px;
$breakpoint-m: 992px;
$breakpoint-l: 1200px;

// Grid gutter width
$gutter-width: 30px;


/*
 * Typography
 */

// Font families
$default-font-family: Arial, Helvetica, sans-serif;

// Font sizes
$default-font-size: 16;    // px value
$default-line-height: 1.5; // relative value

$small-font-size: 12px; // absolute value
$large-font-size: 20px; // absolute value

$smaller-font-size: 80%; // relative value
$larger-font-size: 120%; // relative value

// Basic colors
$default-text-color: #333;
$default-background-color: #fff;

$content-link: #346994;
$content-link-hover: #128ad3;

/* =============== */

// Import theme core
@import "app/app";
