/*
 * Theme variables
 * - create new themes by copying this file and editing its varibles
 */

// Font families
$default_font_family: Arial, Helvetica, sans-serif;

// Font sizes
$default_font_size: 16;    // px value
$default_line_height: 1.5; // relative value

// Basic colors
$default_text_color: #333;
$default_background_color: #fff;

$content_link: #346994;
$content_link_hover: #128ad3;

/* =============== */

// Import theme core
@import "app/app";
