/*! WordPressBP default theme | MIT License | github.com/andrejcremoznik/WordPressBP/ */

// Public asset uri (use with asset() function)
$public-assets-uri: '/app/themes/WordPressBP/assets/default/';

// Font families
$default-font-family: Arial, Helvetica, sans-serif;

// Font sizes
$default-font-size: 16;    // absolute value
$default-line-height: 1.5; // relative value

$font-size-s: 12; // small: absolute value
$font-size-l: 20; // large: absolute value

$font-size-lt: 80%;  // smaller: relative value
$font-size-gt: 120%; // larger:  relative value

// Basic colors
$default-tx-color: #333;
$default-bg-color: #fff;

$content-link-color: #346994;
$content-link-hover-color: lighten($content-link-color, 30%);

/* =============== */

// Import theme core
@import "app/app";
