button.btn,
input.btn { -webkit-appearance: button; }
button.btn::-moz-focus-inner,
input.btn::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

.btn {
  /* BEGIN: Resets */
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  line-height: 1;
  vertical-align: middle;
  text-decoration: none;
  text-transform: none;
  text-shadow: none;
  white-space: nowrap;
  cursor: pointer;
  &:focus { outline: 0; }
  /* END: Resets */

  // Default visuals
  transition: all .15s ease;
  border: 0;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bold;

  // Default size
  padding: 10px 20px;
  // Default color
  color: #333;
  background: #ddd;
  &:hover,
  &:focus {
    color: darken(#333, 15%);
    background: darken(#ddd, 15%);
  }
}

.btn[disabled],
.btn_disabled {
  pointer-events: none;
  opacity: .5;
}

// Sizes
.btn_l {
  padding: 15px 30px;
  font-size: 1.25rem;
}

.btn_s {
  padding: 5px 10px;
  font-size: .75rem;
}

.btn_block {
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
button.btn_block,
input.btn_block { width: 100%; }

// Colors
.btn_primary {
  color: #fff;
  background: #2b62b4;
  &:focus,
  &:hover {
    color: #fff;
    background: darken(#2b62b4, 15%);
  }
}
