// Typography
html { font: #{$default_font_size}px/#{$default_line_height} $default_font_family; }

body {
  color: $default_tx_color;
  background: $default_bg_color;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $content_link_color;
  &:hover { color: $content_link_hover_color; }
}

img { vertical-align: middle; }

p {
  margin: 0 0 #{$default_line_height}em;
  &:last-child { margin-bottom: 0; }
}

h1, h2, h3 {
  margin: 1.5em 0;
  font-weight: bold;
}
h1 { font-size: rem($font_h1); }
h2 { font-size: rem($font_h2); }
h3 { font-size: rem($font_h3); }

.t_left { text-align: left; }
.t_right { text-align: right; }
.t_center { text-align: center; }
.t_justify { text-align: justify; }
.t_wrap { white-space: normal; }
.t_nowrap { white-space: nowrap; }
.t_uppercase { text-transform: uppercase; }
.t_lowercase { text-transform: lowercase; }
.t_capitalize { text-transform: capitalize; }

.f_inherit { font: inherit; }
.f_bold { font-weight: bold; }
.f_italic { font-style: italic; }
.f_normal {
  font-weight: normal;
  font-style: normal;
}

.f_s { font-size: rem($font_s); }
.f_m { font-size: rem($font_m); }
.f_l { font-size: rem($font_l); }

.c_inherit { color: inherit; }
