// Typography
html { font: #{$default_font_size}px/#{$default_line_height} $default_font_family; }

body {
  color: $default_tx_color;
  background: $default_bg_color;
}

a {
  color: $content_link_color;
  &:hover { color: $content_link_hover_color; }
}

img { vertical-align: middle; }

.t_left { text-align: left; }
.t_right { text-align: right; }
.t_center { text-align: center; }
.t_justify { text-align: justify; }
.t_wrap { white-space: normal; }
.t_nowrap { white-space: nowrap; }
.t_uppercase { text-transform: uppercase; }
.t_lowercase { text-transform: lowercase; }
.t_capitalize { text-transform: capitalize; }

.f_inherit { font: inherit; }
.f_bold { font-weight: bold; }
.f_italic { font-style: italic; }
.f_normal {
  font-weight: normal;
  font-style: normal;
}

.f_s { font-size: rem($font_s); }
.f_m { font-size: rem($font_m); }
.f_l { font-size: rem($font_l); }

.c_inherit { color: inherit; }
