/*
 * Typography
 */
html {
  font: #{$default-font-size}px/#{$default-line-height} $default-font-family;
}

body {
  color: $default-tx-color;
  background: $default-bg-color;
}

a {
  color: $content-link-color;
  &:hover {
    color: $content-link-hover-color;
  }
}

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }

.text-wrap { white-space: normal; }
.text-nowrap { white-space: nowrap; }

.text-uppercase { text-transform: uppercase; }
.text-lowercase { text-transform: lowercase; }
.text-capitalize { text-transform: capitalize; }

.font-inherit { font: inherit; }
.font-bold { font-weight: bold; }
.font-italic { font-style: italic; }
.font-s { font-size: rem($font-size-s); }
.font-l { font-size: rem($font-size-l); }
.font-lt { font-size: $font-size-lt; }
.font-gt { font-size: $font-size-gt; }

.color-inherit { color: inherit; }
