// Public asset uri (use with asset() function)
$public_assets_uri: '/app/themes/WordPressBP/assets/default/';

// Font families
$default_font_family: -apple-system, system-ui, Roboto, "Segoe UI", Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;

// Font sizes (pixel unit implied)
$default_font_size: 16;
$default_line_height: 1.5; // relative to font-size

$font_s: 12;
$font_m: $default_font_size;
$font_l: 20;

$font_h1: 32;
$font_h2: 24;
$font_h3: 20;

// Basic colors
$default_tx_color: #333;
$default_bg_color: #fff;

// Layout
$gutter: 30px;

$breakpoint: 720px;
